{% extends 'base.html' %}


{% block content %}
<div class = "ppp2">
    {% for product in object_list %}
    <div class = "rrr2">
        <a href="{% url 'product_detail' pk=product.pk %}"><h2>{{ product.name }}</h2></a><h3>Price:{{ product.price }}<br>Count:{{ product.count_in_storage }}</h3>
        {% if request.user.is_superuser %}
        <a href="{% url 'update_product' product.pk %}"><button>Update</button></a>
        {% endif %}
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'purchases' %}">
            {% csrf_token %}
            <input type="number" name="Count" min="1" max="{{ product.count_in_storage }}" required>
            <button type="submit">Buy</button>
        </form>
        {% endif %}
    </div>  
    {% endfor %}
</div>
{% endblock %}

