{% extends 'base.html' %}


{% block content %}
{% if messages %}
    {% for message in messages %}
            <h4>{{ user.first_name }}, {{ message }}</h4>
    {% endfor %}
{% endif %}
<div class = "ppp2">
    {% for purchase in object_list %}
    <div class = "rrr2">
        <h2>{{user.last_name}}</h2>
        <h2>{{ purchase }}</h2>
        <h3>{{ purchase.create_at }}</h3>
        <form method="POST" action="{% url 'returns' %}">
            {% csrf_token %}
            <input type="hidden" id="purchase_id" name="purchase_id" value="{{purchase.pk}}">
            <button name="return_button" type="submit">Return</button>
        </form>
    </div>  
    {% endfor %}
</div>
{% endblock %}