{% extends 'base.html' %}


{% block content %}
<h1>Returns</h1>
<div class = "ppp2">
   {% for return in all_returns_list %}
     <div>
       <h2>{{ return }}</h2>
       {% if request.user.is_superuser %}
       <form action="{% url 'return_confirm' return.pk %}" method="post">
         {% csrf_token %}
         <input type="submit" value="Confirm">
       </form>
       <form action="{% url 'return_reject' return.pk %}" method="post">
         {% csrf_token %}
         <input type="submit" value="Reject">
       </form>
       {% endif %}
     </div>
   {% endfor %}
</div>
{% endblock %}